body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Satisfy", cursive, "Slabo 27px", serif;

}

.top-page-content {
  max-width: 1066px;
  position: relative;

}


.home-page {
  z-index: 9;
  position: relative;
  overflow: hidden;
  font-size: 1.25rem;
  padding-right: 900px;
  padding-left: 20px;
  padding-top: 20px;
}

.login-button {
  border: none;
  background-color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 17px;
  padding-right: 10px;

}

.login-button:hover {
  color: rgb(121, 24, 24);
  transition: .3s ease-in-out;
  cursor: pointer;

}


.top-section h1 {
  font-weight: 100;
  font-size: 4rem;
  padding-left: 300;
  margin-bottom: 0;
  max-width: 1066px;

}

.top-section p {
  padding-left: 700;
  padding-top: 0;
  padding-bottom: 30;
}


.page-navigator {
  color: #5753532f;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 3px;
  outline: none;
  width: 200px;
  height: 100%;
  bottom: 0;
  top: 40;
  z-index: 20;
  align-items: center;
  justify-content: center;
  position: absolute;

}

.page-navigator button {
  z-index: 9;
  align-content: center;
  font-size: 1.25rem;
  max-height: 30;
  border: 0.5px solid;
  border-color: rgba(206, 161, 64, 0.192);
  background-color: #ede4cd4a;
  color: rgba(11, 2, 2, 0.521);
  padding-top: 70;
  padding-bottom: 76;
  justify-self: auto;
  padding-left: 30;
  padding-right: 30;
  margin-top: 10;
  position: relative;


}

.page-navigator button:hover {
  transition: background-color .3s ease-out, border .3s ease-out, color .3s ease-out;
  cursor: pointer;
}

.flowers:hover {
  background-color: rgba(255, 235, 105, 0.336)
}

.plants:hover {
  background-color: rgba(192, 250, 225, 0.416)
}

.gifts:hover {
  background-color: rgba(210, 166, 34, 0.263)
}

.gifts-under:hover {
  background-color: rgba(236, 125, 56, 0.58)
}

.occasion:hover {
  background-color: rgba(229, 237, 75, 0.521)
}


.flower-cards {
  padding-left: 240px;
  z-index: 10;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
  column-gap: 45px;
  padding-bottom: 100px;
}

.one-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid;
  padding: 20px;
  padding-left: 50;
  padding-right: 50;
  z-index: 10;
  position: relative;
  max-width: 180px;
  max-height: 460px;
  margin: 0 auto;
}

.one-card h3 {
  margin: 12;
  text-align: center;

}

.card-image img {
  object-fit: cover;
  max-width: 250px;
  max-height: 300px;
  min-width: 250px;
  min-height: 300px;
  margin: 20 -36 10;
  border: 1px solid #000000;

}

.price {
  margin: 0 auto;
}

.send-flowers {
  font-size: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: auto;
  box-sizing: border-box;
  width: 250;
  padding: 13;
}


.send-flowers:hover {
  cursor: pointer;
  border-style: double;
  transition: .1s ease-in-out;
  background: none;
}

.favourite {
  font-size: 1rem;
  color: #130101;
  border: none;
  background: none;

  position: relative;


}

.favourite:hover {
  cursor: pointer;
  border-style: double;
  transition: .1s ease-in-out;
  background: none;

}

*/ .link {
  text-decoration: none;
}

.sections p {
  text-decoration: none;
}

.info-page {
  z-index: 7;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 160px;
  padding-left: 190px;
}

.info-page p {
  padding-left: 40;
}

.circleone {
  z-index: 1;
  width: 617px;
  height: 617px;
  background: #c78960;
  opacity: .85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: 0px;
  right: -430px;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.circletwo {
  z-index: 0;
  width: 617px;
  height: 617px;
  background: #f0ea7ba7;
  opacity: .85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: 670px;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.circlethree {
  z-index: 0;
  width: 617px;
  height: 617px;
  background: #c1a412a7;
  opacity: .85;
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  top: -500px;
  left: -200;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}